<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>DIANOMI-TV - Password reset</title>
  <style>
    * {
      font-family: sans-serif;
    }

    h2 {
      font-variant: small-caps;
    }
  </style>
</head>

<body>
  <div>
    <h2>DianomiTV</h2>
  </div>
  <div>
    <h3>Password reset</h3>
    <p>This message was sent, because of password reset request</p>
    <p>If it were not you who requested it. Simply ingore this message.</p>
    <a href="{{.Url}}">
      <button>Reset password</button>
    </a>

  </div>
</body>

</html>