<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>DIANOMI-TV - Please verify your e-mail</title>
  <style>
    * {
      font-family: sans-serif;
    }
    h2 {
      font-variant: small-caps;
    }
  </style>
</head>

<body>
  <div>
    <h2>DianomiTV</h2>
  </div>
  <div>
    <h3>We are glad you joined us!</h3>
    <p>Please confirm your email address with the button below!</p>
    <a href="{{.Url}}">
      <button>Verify</button>
    </a>
    
  </div>
</body>

</html>